body{
    background-color: rgb(46, 46, 46);
}

fieldset{
    color: #fff;
}

#container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#layer {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #fff;
    border: 3px solid black;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid black;
    
}

.maroon{
    background-color: maroon; 
}
.lightgreen{
    background-color: lightgreen; 
}

.magenta{
    background-color: magenta; 
}